apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-agent-backend
  labels:
    app: log-agent-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-agent-backend
  template:
    metadata:
      labels:
        app: log-agent-backend
    spec:
      containers:
        - name: log-agent-backend
          image: docker.io/aggosistemas/log-agent-backend: latest
          ports:
            - containerPort: 5000
          env:
            - name: ENV
              value: "development"
