name: Pipeline para Log Agent IA

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  IMAGE_NAME: log-agent-backend
  DOCKER_HUB_REPO: ${{ secrets.DOCKER_HUB_USERNAME }}/log-agent-backend

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build e Push da imagem Docker
        run: |
          docker build --no-cache -t $DOCKER_HUB_REPO:latest .
          docker push $DOCKER_HUB_REPO:latest

  deploy-gke:
    runs-on: ubuntu-latest
    needs: build-push
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Autenticar no GCP
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configurar acesso ao cluster GKE
        uses: google-github-actions/get-gke-credentials@v1
        with:
          cluster_name: cluster-kubernetes-padrao
          location: us-central1
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Criar ou atualizar Secret GCP no cluster
        run: |
          echo "${{ secrets.GCP_SA_KEY }}" > ./gcp-sa-key.json
          kubectl delete secret gcp-secrets --ignore-not-found
          kubectl create secret generic gcp-secrets \
            --from-file=gcp-sa-key.json=./gcp-sa-key.json \
            --from-literal=GCP_PROJECT_ID="${{ secrets.GCP_PROJECT_ID }}"

      - name: Aplicar deployment no GKE
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
